h1 {
    text-align: center;
    font-size: 5rem;
}
.hr_thin {
    height: 2px;
    background-color: black;
}
.hr_fat {
    height: 10px;
    background-color: black;
}
.hr_veryfat {
    height: 20px;
    background-color: black;
}
.p_thin {
    font-size: 2rem;
}
.p_fat {
    font-size: 2rem;
    font-weight: bolder;
}
.dostalovse {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nichegonedostalo {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
}
h2 {
    font-size: 4rem;
}
.p_verysmall {
    font-size: 1rem;
}
.textmargin {
    margin-left: 40px;
}
.textmargin2 {
    margin-left: 60px;
    font-weight: unset;
}
.container1 {
    width: 50%;
    border: black 2px solid;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}